<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My first dynamic Website</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="/titanic">Titanic</a></li>
      <li><a href="https://github.com/Kevingies/docker/tree/master/app">About</a></li>
    </ul>
  </nav>
  

<body>
    <main>
        <h1>I have been seen {{ count }} times.</h1>
        <ul>
            {% for i in range(1, count+1) %}
            <li>{{ i }}: Hello {{ name }}! </li>
            {% endfor %}
        </ul>
        <h1><a href="https://www.hwr-berlin.de">Visit HWR-Berlin online!</a></h1>
        <h1><img src="{{ url_for('static', filename='happy.jpg') }}" alt="Image">
        </h1>
    </main>
</body>

<footer>
    <p>Author: Kevin Giesen</p>
  </footer>

</html>